<%- include('../partials/header.html'); %>

<h1>Edit this Campground!</h1>

<form action="/campgrounds/<%=campground._id%>?_method=PUT" method="POST">
    <input type="text" name="campground[name]" value='<%=campground.name%>'>
    <input type="text" name="campground[image]" value='<%=campground.image%>'>
    <input type="text" name="campground[description]" value='<%=campground.description%>'>
    <input type="submit" value="Submit!">
</form>

<%- include('../partials/footer.html'); %>